*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    --button-bg-color:#b5e0c3;
}

body{
    background: linear-gradient(90deg,#ddb4f6, #8dd0fc);
    padding:10%;
    display: flex;
    justify-content: center;
}

.present{
    background: rgba(255,255,255,0.4);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    border-radius: 10px;
    padding: 30px;
}

.present:hover{
    box-shadow: 0 0 20px black;
}

.details{
    display: flex;
    justify-content: center;
}

.details-sub, .arrange{
    display:flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
}

button{
    background-color: var(--button-bg-color);
    height:30px;
    width: 80px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
}

#input{
    border: 3px solid black;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
}

.view{
    display: flex;
    justify-content: center;
}

.todo-row{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

.completed{
    text-decoration: line-through;
    opacity: 0.6;
}
