*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.abc{
    background: linear-gradient(90deg, #8c8c8c, #b0a8a8, #f5f5f5);

}

.headmain{
    display: flex;
    gap:30px;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(135deg, #8a8a8a, #707070);
    height: 90px;
    border: 1px solid black;
}

.headmain:hover {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
}

.head1 img{
    border-radius: 40%;
    border:2px solid black;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}

.subsec1{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.15);
    padding: 30px 40px;
    border-radius: 15px;
    width: 300px;
}
.subsec1 form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subsec2 .sub{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255,255, 0.15);
    padding: 30px 40px;
    border-radius: 15px;
    width: 300px;
    gap:10px;
}

button{
    background-color:lightcoral;
    border-radius: 4px;
}

button:hover{
    background-color: lightgreen;
}

.subsec1 input{
    border-radius: 5px;
}