* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.abc {
    background: linear-gradient(90deg, #d7d2cc, #304352); /* smooth modern */
    min-height: 100vh;
}

.headmain {
    background: linear-gradient(135deg, #667db6, #0082c8, #0082c8, #667db6);
    text-align: center;
    padding: 20px 0;
    color: white;
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
}

.main {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.subsec1,
.subsec2 .sub {
    background: rgba(255, 255, 255, 0.25);
    padding: 25px 30px;
    border-radius: 15px;
    width: 300px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

.subsec1 form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #555;
}

button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background: #4b79a1;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #283e51;
}

.taskItem {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    align-items: center;
}

.taskButtons button {
    margin-left: 5px;
    padding: 3px 7px;
    font-size: 12px;
}
